RewriteEngine on 
RewriteBase / 
#================= 安全策略 =======================
#目录禁止访问
#themes中存在图片，无法直接禁止，所以按照扩展名禁止
RewriteRule ^(bin/|oldshop/|config/|widget/|languages/).* syserror.html
RewriteRule (.*)\.lbi$    syserror.html
RewriteRule (.*)\.dwt$    syserror.html

#域名重定向
Options +FollowSymLinks
rewriteEngine on
rewriteCond %{http_host} ^365chi.com [NC]
rewriteRule ^(.*)$ http://www.365chi.com/$1 [R=301,L] 

#================== 兼容老路由 =============================
#php文件直接引用映射
RewriteRule (.*)\.php$    sys_router\.php [L]

#================== 新方式MVC  =====================================
#完整host/controller/action/params规则映射
RewriteRule ^(BuyRGoods|test/|Goods/) sys_router\.php [L]

#controller添加默认action的映射
RewriteRule ^(BuyRGoods|test|Goods/)$ sys_router\.php [L]

#根目录映射
RewriteRule ^(/)?$ sys_router\.php [L]


#php文件直接引用映射
RewriteRule transform\.jpg$   transform\.php3 [NC]


#php文件直接引用映射
RewriteRule transform3\.jpg$   transform3\.php3 [NC]
